In [ ]:
%LOAD example_db.db

In [ ]:
CREATE TABLE players (Name STRING, Class STRING, Level INTEGER, Hitpoints INTEGER)

In [ ]:
INSERT INTO players (Name, Class, Level, Hitpoints) VALUES ("Martin Splitskull", "Warrior", 3, 40)

In [ ]:
INSERT INTO players (Name, Class, Level, Hitpoints) VALUES ("Sir Wolf", "Cleric", 2, 20)

In [ ]:
INSERT INTO players (Name, Class, Level, Hitpoints) VALUES ("Sylvain, The Grey", "Wizard", 1, 10)

In [ ]:
SELECT Level, Hitpoints FROM players

In [ ]:
SELECT SUM (Level) FROM players

In [ ]:
%XVEGA_PLOT X_FIELD Level Y_FIELD Hitpoints MARK circle WIDTH 100 HEIGHT 200 <> SELECT Level, Hitpoints FROM players

In [ ]:
%TABLE_EXISTS players

In [ ]:
%TABLE_EXISTS npcs

In [ ]:
%GET_INFO

In [ ]:
%CREATE potato.db

In [ ]:
CREATE TABLE potaters(production INTEGER)

In [ ]:
INSERT INTO potaters (production) VALUES (7)

In [ ]:
SELECT * FROM potaters

In [ ]:
%DELETE